@charset "utf-8";

.base {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.base-head, .base-foot {
    text-align: center;
}

.base-title {
    font-size: 2rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.base-btn {
    text-decoration: none;
    color: #cf7688;
    text-transform: uppercase;
    border: solid 2px #cf7688;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 5px;
    transition-duration: .3s;
}

.base-btn:hover {
    background-color: #f6cdd5;
}